@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
};

/* globals.css */
@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --background: #FAFAF0;
  --foreground: #33272A;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #33272A;
  letter-spacing: 0%;
  vertical-align: middle; 
}

h1, h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 100%;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

p {
  color: #33272A;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
}

@layer utilities {
  .shadow-custom {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
  }
}
